@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-div {
  display: flex;
}

.centered-div {
  display: flex; 
  align-items: center; 
  text-align: center;
  margin-bottom: 15px;
  justify-content: space-between
}

.horizontal-align {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.horizontal-input-align {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.title {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.rounds {

}

.results {
  background-color: lightgray;
  border-radius: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.round {
  background-color: lightgray;
  border-radius: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.round-matches-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 24em);
}

.match-card {
  padding-bottom: 10px;
  padding-left: 10px;
}

.player-card {
  background-color: aliceblue;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
}

.avatar-icon {
  border-width: 0.1px;
  border: solid;
  border-color: grey;
  border-radius: 0.1rem;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector  {
  background: none;
}

.score-input-top-empty {
  float: right;
  width: 20%;
  border-top-right-radius: 0.5rem;
}
.score-input-bottom-empty {
  float: right;
  width: 20%;
  border-end-end-radius: 0.5rem;
}

.tournament-details-modal {
  padding-top: 0px;
  width: 100%;
}

.select-before {
  margin-left: 10%;
  margin-right: 0;
  width: 40%;
}

.input-fields {
  margin: 0px 15px 15px 15px;
}

.input-player-name {
  margin-bottom: 10px;
  width: 80vw;
}

