@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-div {
display: flex;
}

.horizontal-align {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.horizontal-input-align {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.title {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.tournament-details-modal {
  padding-top: 0px;
  width: 100%;
}

.select-before {
  margin-left: 10%;
  margin-right: 0;
  width: 40%;
}


.input-fields {
  margin: 0px 15px 15px 15px;
}

.input-player-name {
  margin-bottom: 10px;
  width: 80vw;
}

.ant-modal-body {
  padding-top: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
  max-height: 60vh;
}
/* body > div:nth-child(3) > div > div.ant-modal-wrap > div {
position: absolute;
left: 1em;
right: 1em;
} */
